* {
	box-sizing: border-box;
	}

body {
	background-color: #00;
	margin: 0;
}

.main {

}

h1 {
	font-size: 8em;
	font-family: 'Armata', sans-serif;
	text-align: center;
}

h2 {
	font-size: 6em;
	font-family: 'Armata', sans-serif;
	text-align: center;
	padding: 0;
	color: white;
	background-color: #008040;
	margin: 0;
}

.t {
	text-decoration: none;
	color: #0084b4;
}

#s {
	color: #008040;
}

.front {
	min-height: 100vh;
	min-height: 100%;
	height: 100vh;
	width: 100%;
}

.student_space {
	min-height: 100vh;
	min-height: 100%;
	height: 100vh;
	width: 100%;
}

.space {
	height: 10px;
}

footer {
	text-align: center;
	background-color: #24292E;
}

footer p {
	margin: 0;
	padding: 10px 0 10px 0;
	color: #FFF8C4;
}
